<div class="dashboard" id="dashboard">
	<div class="content-holder">
		
		<div class="center-content">
			<div class="max-content">
				<strong>MAX:</strong><span id="maxSpeed">0</span>MPH
			</div>
			<div class="miles-per-hour">
				<span id="milesPerHour">0.0</span>MPH</span>
			</div>
			<div class="rpm">
				<span id="rpm">0</span>RPM | <span id="cas">20&deg;</span>TDC
			</div>
		</div>
		
		<div class="right-content">
			
			<div class="box-content">
				<div class="box-holder">
					<div class="box-amount" id="batteryBar"></div>
				</div>
				<div class="box-icon">
					<img src="dist/images/battery.svg" />
				</div>
				<div class="box-value"id="battery">0v</div>
			</div>
			
			<div class="box-content">
				<div class="box-icon temp">
					<img src="dist/images/temperature.svg" />
				</div>
				<div class="box-value" id="coolant">0&deg;F</div>
			</div>
		</div>
		
		<div class="bottom-content">
				
			<div class="content-box">
				<div class="box-holder">
					<div class="box-amount" id="accBar"></div>
				</div>
				<div class="box-value" id="acc">0</div>
				<div class="box-title">ACC</div>
			</div>
			
			<div class="content-box">
				<div class="box-holder">
					<div class="box-amount" id="afBar"></div>
				</div>
				<div class="box-value" id="af">0</div>
				<div class="box-title">AF Base</div>
			</div>
			
			<div class="content-box">
				<div class="box-holder">
					<div class="box-amount" id="mafBar"></div>
				</div>
				<div class="box-value" id="maf">0</div>
				<div class="box-title">MAF</div>
			</div>
			
			<div class="content-box">
				<div class="box-holder">
					<div class="box-amount" id="tpsBar"></div>
				</div>
				<div class="box-value" id="tps">0</div>
				<div class="box-title">TPS</div>
			</div>
			
		</div>
		
		<div class="rpm-ticks">
			<img src="dist/images/redline-indicator.svg" id="redLineIndicator"  class="red-line-indivator">
			<img src="dist/images/rpm_1.svg" id="tick1" class="rpm-tick tick-1">
			<img src="dist/images/rpm_2.svg" id="tick2" class="rpm-tick tick-2">
			<img src="dist/images/rpm_3.svg" id="tick3" class="rpm-tick tick-3">
			<img src="dist/images/rpm_4.svg" id="tick4" class="rpm-tick tick-4">
			<img src="dist/images/rpm_5.svg" id="tick5" class="rpm-tick tick-5">
			<img src="dist/images/rpm_6.svg" id="tick6" class="rpm-tick tick-6">
			<img src="dist/images/rpm_7.svg" id="tick7" class="rpm-tick tick-7">
			<img src="dist/images/rpm_8.svg" id="tick8" class="rpm-tick tick-8">
			<img src="dist/images/rpm_9.svg" id="tick9" class="rpm-tick tick-9">
		</div>
	</div>
</div>