/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(https://../fonts.gstatic.com/s/oswald/v13/WDQRONh0ieLkzMd4njMkJBJtnKITppOI_IvcXXDNrsc.woff2) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url("../fonts/Oswald-Light.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald-Regular.ttf") format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswald-Medium.ttf") format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"), url(../fonts/Oswald-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/Oswald-Bold.ttf") format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/Oswald-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  background: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans; }

.splash {
  background: #000 url("../images/splash_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  top: 0;
  left: 0;
  opacity: 0; }
  .splash .content-holder {
    margin-top: 20%;
    width: 100%;
    text-align: center;
    position: absolute; }
    .splash .content-holder h1 {
      font-size: 50px;
      color: #000;
      height: auto;
      text-shadow: 0px 0px 8px #fff;
      font-weight: 800;
      margin: 0; }
    .splash .content-holder .desc {
      font-size: 30px;
      height: auto;
      text-shadow: 0px 0px 8px #333;
      font-weight: 800;
      color: #fff;
      margin: 0; }
  .splash.show {
    opacity: 1; }
  .splash.hide {
    left: -110%; }

.load-error {
  background: url("../images/loaderror_bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  top: 0;
  left: 0;
  opacity: 0;
  left: 105%; }
  .load-error .content-holder {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    position: absolute; }
    .load-error .content-holder h1 {
      font-size: 50px;
      color: #fff;
      height: auto;
      text-shadow: 0px 0px 8px #333;
      font-weight: 800;
      margin: 0; }
    .load-error .content-holder .desc {
      font-size: 30px;
      height: auto;
      text-shadow: 0px 0px 8px #333;
      font-weight: 800;
      color: #fff;
      margin: 10px 0 40px; }
  .load-error a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    box-shadow: 0 0 14px #aaa;
    font-size: 22px; }
  .load-error.show {
    opacity: 1;
    left: 0; }
  .load-error.hide {
    left: -110%; }

.comm-select {
  background: #000;
  background-size: cover;
  background-position: bottom right;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  top: 0;
  left: 0;
  opacity: 0;
  left: 105%; }
  .comm-select .content-holder {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    position: absolute; }
    .comm-select .content-holder h1 {
      font-size: 50px;
      color: #fff;
      height: auto;
      text-shadow: 0px 0px 8px #333;
      font-weight: 800;
      margin: 0; }
    .comm-select .content-holder select {
      padding: 8px;
      font-size: 20px;
      margin-top: 15px; }
  .comm-select.show {
    opacity: 1;
    left: 0; }

.dashboard {
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 800px;
  height: 450px; }
  .dashboard .center-content {
    top: 110px;
    left: 270px;
    position: absolute;
    font-size: 26px; }
    .dashboard .center-content .max-content {
      width: 100%; }
      .dashboard .center-content .max-content strong {
        font-weight: 700; }
    .dashboard .center-content .miles-per-hour {
      font-size: 45px;
      width: 100%; }
      .dashboard .center-content .miles-per-hour span {
        font-size: 100px;
        color: #0044aa;
        font-weight: bold;
        line-height: 82px;
        margin-left: -5px;
        color: #2d549a; }
    .dashboard .center-content .rpm {
      width: 100%;
      font-size: 28px;
      margin-top: 15px; }
      .dashboard .center-content .rpm span {
        font-size: 40px;
        font-weight: 700;
        color: #2d549a;
        line-height: 32px; }
  .dashboard .box-amount {
    width: 100%;
    height: 0%;
    background: #5d5d5d; }
  .dashboard .right-content {
    width: 85px;
    right: 50px;
    top: 140px;
    position: absolute; }
    .dashboard .right-content .box-content {
      width: 115px;
      height: 95px;
      text-align: center;
      font-size: 28px;
      font-weight: 700; }
      .dashboard .right-content .box-content .box-icon {
        width: 45px;
        height: 30px;
        margin-left: 26px; }
        .dashboard .right-content .box-content .box-icon.temp {
          width: 30px;
          margin-bottom: 8px; }
        .dashboard .right-content .box-content .box-icon img {
          width: 100%;
          height: auto; }
      .dashboard .right-content .box-content .box-holder {
        width: 20px;
        height: 30px;
        border: 1px solid #aaa;
        position: absolute;
        display: flex;
        align-items: flex-end; }
      .dashboard .right-content .box-content .box-value {
        width: 70px;
        position: absolute;
        font-size: 30px;
        font-weight: 700;
        margin-top: 0px;
        color: #2d549a; }
  .dashboard .bottom-content {
    top: 365px;
    left: 200px;
    position: absolute;
    font-size: 18px; }
    .dashboard .bottom-content .content-box {
      width: 135px;
      height: 55px;
      float: left;
      margin-right: 15px; }
      .dashboard .bottom-content .content-box .box-holder {
        width: 30px;
        height: 50px;
        border: 1px solid #aaa;
        position: absolute;
        display: flex;
        align-items: flex-end; }
      .dashboard .bottom-content .content-box .box-value {
        width: 90px;
        position: absolute;
        margin-left: 38px;
        font-size: 30px;
        font-weight: 700;
        margin-top: -10px;
        color: #2d549a; }
      .dashboard .bottom-content .content-box .box-title {
        width: 90px;
        position: absolute;
        margin-left: 38px;
        font-size: 18px;
        font-weight: 500;
        bottom: 0; }
  .dashboard .rpm-ticks {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .dashboard .rpm-ticks .red-line-indivator {
      position: absolute;
      top: -2px;
      left: -14px;
      opacity: 0.15; }
    .dashboard .rpm-ticks .rpm-tick {
      position: absolute;
      top: 0;
      bottom: 0;
      opacity: 0.10; }
      .dashboard .rpm-ticks .rpm-tick.tick-1 {
        top: 340px;
        left: -4px; }
      .dashboard .rpm-ticks .rpm-tick.tick-2 {
        top: 223px;
        left: -4px; }
      .dashboard .rpm-ticks .rpm-tick.tick-3 {
        top: 70px;
        left: -5px; }
      .dashboard .rpm-ticks .rpm-tick.tick-4 {
        top: -5px;
        left: 56px; }
      .dashboard .rpm-ticks .rpm-tick.tick-5 {
        top: -9px;
        left: 205px; }
      .dashboard .rpm-ticks .rpm-tick.tick-6 {
        top: -8px;
        left: 342px; }
      .dashboard .rpm-ticks .rpm-tick.tick-7 {
        top: -7px;
        left: 465px; }
      .dashboard .rpm-ticks .rpm-tick.tick-8 {
        top: -6px;
        left: 576px; }
      .dashboard .rpm-ticks .rpm-tick.tick-9 {
        top: -6px;
        left: 691px; }

/*# sourceMappingURL=app.css.map */
